.intro {
    border-top: 1em solid #86CFD6;
    background-color: #BBDCEA;
    padding: 2em 0;
    margin-bottom: 1em;
}

.intro h1 {
    margin: 0;
}

.tt-dropdown-menu {
    width: auto;
}

footer {
    margin-top: 3em;
    padding: 1em 0;
    border-top: 1px solid #BBDCEA;
}

