{% extends "bootstrap/base.html" %}
{% from "bootstrap/google.html" import analytics %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %}{{ config.APPLICATION_NAME }}{% endblock %}

{% block styles %}
    {{ super() }}

    {% block stylesheets %}
    {% endblock %}

    <link href="/static/css/site.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="intro">
        <div class="container">
            <h1>{{ config.APPLICATION_NAME }}</h1>
            <p>
                Get email notifications for messages and/or new mod releases on the
                <a href="https://mods.factorio.com">Factorio Mod Portal</a>.
            </p>
        </div>
    </div>

    <div class="container">
        {{ config.SITE_WIDE_NOTICE|safe }}

        {{ flashed_messages(container=False, dismissible=True) }}

        {% block page_content %}
        {% endblock %}
    </div>

    {% block footer %}
        <footer class="text-muted">
            <div class="container">
                <a href="{{ request.host_url }}">{{ request.host }}</a> ⋅ <a href="https://forums.factorio.com/viewtopic.php?f=69&t=49464">Forum thread</a> ⋅ {{ config.DISCLAIMER }}
            </div>
        </footer>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% block external_scripts %}{% endblock %}
    {% block inline_scripts %}{% endblock %}
    {% if config.ANALYTICS_ACCOUNT %}
        {{ analytics(config.ANALYTICS_ACCOUNT) }}
    {% endif %}
{% endblock %}
