{% extends "base.html" %}

{% block page_content %}
    <h2>Subscribe to notifications</h2>

    <p>
        Provide a valid email address to receive your log-in link.
        You can unsubscribe at any time.
    </p>

    <form method="post" id="register-form" onsubmit="grecaptcha.execute(); return false;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <div class="input-group input-group-lg">
                        <input type="email" class="form-control input-lg" id="email" name="email" value="{{ request.form.email }}" autofocus
                                                                                                  placeholder="Email" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="g-recaptcha"
             id="recaptcha"
             data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}"
             data-callback="submitForm"
             data-size="invisible"
             data-tabindex="9999"
             >
        </div>
        {{ csrf() }}
    </form>
{% endblock %}

{% block external_scripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block inline_scripts %}
    <script type="text/javascript">
        function submitForm() {
            document.getElementById('register-form').submit();
        }

        function setRecaptchaTabIndex() {
            var iframe = $(".grecaptcha-logo iframe")[0];

            if (iframe) {
                if (iframe.tabindex)
                    iframe.tabIndex = iframe.tabindex;
                document.removeEventListener('DOMNodeInserted', setRecaptchaTabIndex);
            }
        }
        document.addEventListener('DOMNodeInserted', setRecaptchaTabIndex);
    </script>
{% endblock %}
