{% extends "base.html" %}
{% block stylesheets %}
    {{ super() }}
    <link href="/static/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
    <link href="/static/css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <h2>Subscription settings</h2>

    <div class="row">

        <div class="col-md-7">
            <h3>Subscriptions</h3>

            <form method="post">
                <div class="form-group">
                    <label for="username">Factorio username</label>
                    <input class="form-control" type="text" id="username" name="username" placeholder="Factorio username"
                           autocomplete="off"
                           value="{{ user.username or '' }}"/>
                    <span class="help-block">Set your Factorio username to receive message notifications for your mods and/or threads.</span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="msg_notif_own_mods" {{ user.msg_notif_own_mods and 'checked' or '' }} />
                            Notify me of messages posted on my mods (if any)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="msg_notif_own_threads" {{ user.msg_notif_own_threads and 'checked' or '' }} />
                            Notify me of replies to threads I started
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="msg_include_self" {{ user.msg_include_self and 'checked' or '' }} />
                            Notify me of my own messages too
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mods">Watched mods</label>
                    <input type="text" class="form-control" id="mods" name="mods" value="{{ user.mods|join(',') }}"/>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="mod_notif_watched" {{ user.mod_notif_watched and 'checked' or '' }} />
                            Notify me of new releases for those mods
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="msg_notif_watched" {{ user.msg_notif_watched and 'checked' or '' }} />
                            Notify me of new messages posted on those mods
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit changes</button>
                    <button type="submit" name="unsub" value="1" class="btn btn-danger"
                            onclick="return confirm('Are you sure?');">
                        Delete account
                    </button>
                </div>
                {{ csrf() }}
            </form>

        </div>


        <div class="col-md-5">
            <h3>Your account</h3>

            <form method="post" action="{{ url_for('logout') }}" class="pull-right">
                <div class="form-group">
                    <label for="email">You are currently logged in as</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="email" value="{{ user.email }}" readonly/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-default" type="submit">
                                <span class="glyphicon glyphicon-user"></span> Logout
                            </button>
                        </span>
                    </div>
                </div>
                {{ csrf() }}
            </form>

            <form method="post" action="">
                <div class="form-group">
                    <label for="auth_url">Your login URL</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="auth_url" value="{{ user.auth_url }}" readonly/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-clipboard-target="#auth_url"
                                    title="Copy to clipboard">
                                <span class="glyphicon glyphicon-copy"></span>
                            </button>
                            <button class="btn btn-default btn-warning" name="regen" value="1" type="submit">
                                <span class="glyphicon glyphicon-refresh"></span>
                                Regenerate
                            </button>
                        </span>
                    </div>
                    <p class="help-block">
                        Bookmark it to login later!
                        Use the <em>Regenerate</em> button to invalide the old login URL,
                        eg. if it leaked on the Internet.</p>
                </div>
                {{ csrf() }}
            </form>

        </div>

    </div>
{% endblock %}

{% block external_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
    <script src="/static/js/bootstrap-tokenfield.js"></script>
    <script src="/static/js/typeahead.bundle.min.js"></script>
{% endblock %}

{% block inline_scripts %}
    <script type="text/javascript">
    // Copy tooltip management
    function setTooltip(btn, message) {
        var original_title = btn.attr('data-saved-title') || btn.attr('title');
        btn.attr('data-saved-title', original_title);

        btn.tooltip({
            trigger: 'manual',
            placement: 'bottom',
            container: 'body'
        });
        btn.attr('data-original-title', message);
        btn.tooltip('show');

        setTimeout(function () {
            btn.tooltip('destroy');
            btn.attr('title', original_title)
        }, 1000);
    }

    // Copy button
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function (e) {
        setTooltip($(e.trigger), 'Copied!');
    });
    clipboard.on('error', function (e) {
        setTooltip($(e.trigger), 'Press Ctrl-C!');
    });

    // Mods & authors completion
    var mods_engine = new Bloodhound({
        remote: '/json/mods?q=%QUERY',
        datumTokenizer: function (d) {
            return Bloodhound.tokenizers.whitespace(d.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });
    mods_engine.initialize();

    var authors_engine = new Bloodhound({
        remote: '/json/authors?q=%QUERY',
        datumTokenizer: function (d) {
            return Bloodhound.tokenizers.whitespace(d.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });

    authors_engine.initialize();

    $('#mods').tokenfield({
        typeahead: [
            {highlight: true},
            {source: mods_engine.ttAdapter()}
        ]
    });

    $('#username').typeahead(
        {highlight: true},
        {source: authors_engine.ttAdapter()}
    );
    </script>
{% endblock %}
